{% extends "admin/bubbles/admin_base.html" %}

{% block content %}
{% if app_list %}
{% for app in app_list %}
{% if forloop.counter0|divisibleby:2 %}
<div class="row">
  {% endif %}
  <div class="col-sm-6">
    <table class="table table-responsive table-striped">
      <caption>
        {% if request.path != app.app_url %}
        <h2><a href="{{ app.app_url }}" class="section" title="Models in the {{ app.name }} application">{{ app.name }}</a></h2>
        {% endif %}
      </caption>
      <tbody>
        {% for model in app.models %}
        <tr>
          <td class="admin-app-table-name">{{ model.name }}</td>
          {% if model.add_url %}
          <td class="admin-app-table-btn"><a href="{{ model.add_url }}" role="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
          {% else %}
          <td class="admin-app-table-btn">&nbsp;</td>
          {% endif %}

          {% if model.admin_url %}
          <td class="admin-app-table-btn"><a href="{{ model.admin_url }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Manage</a></td>
          {% else %}
          <td style="width: 25%">&nbsp;</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if not forloop.counter0|divisibleby:2 %}
</div>
{% endif %}
{% endfor %}
{% else %}
<p>You don't have permission to edit anything.</p>
{% endif %}
{% endblock %}
