<table class="table table-striped table-responsive" id="{{ widget.name }}-table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Size</th>
      {% if widget.show_number %}
      <th scope="col">Number</th>
      <th scope="col">Cost</th>
      {% endif %}
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for widget in widget.subwidgets %}
    {% include "rentals/widgets/equipment_item_widget.html" %}
    {% endfor %}
  </tbody>
</table>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="glyphicon glyphicon-plus"></span>
    Add Item
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="add-dropdown">
    {% for type in widget.item_types %}
    <li id="{{ type.description }}-dropdown"><a href="#">{{ type.description }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="hidden" id="show-number">{{ widget.show_number }}</div>
<div class="hidden" id="item-cost">{{ widget.item_cost|default:"0" }}</div>
<div class="hidden" id="size-options">
  {% for item, sizes in widget.item_size_map.items %}
  <div id="{{ item }}">
    {% if sizes|length != 0 %}
    <ul class="sizes">
      {% for size in sizes %}
      <li>{{ size }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
</div>
