<tr>
  <td>
    <input type="text" class="form-control" name="{{ widget.item_description }}" value="{{ widget.item_description }}" id="{{ widget.item_description }}-description" readonly/>
  </td>
  {% if widget.item_size %}
  <td>
    <select class="form-control" id="{{ widget.item_description }}-size" name="{{ widget.item_description }}">
      <option>{{ widget.item_size }}</option>
    </select>
  </td>
  {% else %}
  <td>N/A</td>
  {% endif %}
  {% if widget.show_number %}
  <td>
    <div class="form-group">
      <input type="text" class="form-control" name="{{ widget.item_description }}" value="{{ widget.item_number }}" id="{{widget.item_description }}-number"/>
    </div>
  </td>
  <td>
    <div class="form-group">
      <input type="text" class="form-control" name="{{ widget.item_description }}" value="{{ widget.item_cost }}" id="{{widget.item_description }}-cost"/>
    </div>
  </td>
  {% endif %}
  <td class="item-entry">
    <a href="#"><i class="glyphicon glyphicon-remove item-remove"></i></a>
  </td>
</tr>
