<div class="actions">
    {% for field in action_form %}{% if field.label %}<label>{{ field.label }} {% endif %}{{ field }}{% if field.label %}</label>{% endif %}{% endfor %}
    <button type="submit" class="btn btn-secondary" title="Run the selected action" name="index" value="{{ action_index|default:0 }}">Go</button>
    {% if actions_selection_counter %}
        <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
        {% if cl.result_count != cl.result_list|length %}
        <span class="all">{{ selection_note_all }}</span>
        <span class="question">
            <a href="#" title="Click here to select the objects across all pages">Select all {{ cl.result_count }} {{ module_name }}</a>
        </span>
        <span class="clear"><a href="#">Clear selection</a></span>
        {% endif %}
    {% endif %}
</div>
