{% extends "bubbles/base.html" %}
{% load static %}

{% block extra_head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-10">
    <form action="{{ url }}" method="post">
      {% csrf_token %}
      {% if rental_user %}
      <div class="form-group">
        <label class="control-label" for="id_user">User:</label>
        <p class="form-control-static" id="id_user">{{ rental_user.first_name }} {{ rental_user.last_name }}</p>
      </div>
      {% endif %}
      {% for field in form %}
      {% if field.field.widget.input_type == "checkbox" %}
      <div class="form-check">
      {% else %}
      <div class="form-group">
        {% endif %}
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
        {% if field.field.widget.input_type == "checkbox" %}
        {{ field }}
        <label class="control-label form-check-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {% else %}
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}
        {% endif %}
      </div>
      {% endfor %}
      <div class="form-group">
        <button class="btn btn-primary" id="submit-btn" type="submit">Submit</button>
      </div>
      {% if show_cost %}
      <div class="form-group">
        <label class="control-label" for="id_total_cost">Total cost:</label>
        <p class="form-control-static" id="id_total_cost"></p>
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
