{% extends "bubbles/base.html" %}
{% load static %}

{% block extra_head %}
{{ block.super }}
{{ form.media }}
<script src="{% static 'js/save_button.js' %}"></script>
{% endblock %}

{% block pre_content %}
{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success altert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{ message|capfirst }}
</div>
{% endfor %}
{% endif %}
{% endblock messages %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-10">
    <form action="{{ url }}" method="post" id="rental-form">
      {% csrf_token %}
      {% if rental_user %}
      <div class="form-group">
        <label class="control-label" for="id_user">User:</label>
        <p class="form-control-static" id="id_user">{{ rental_user.first_name }} {{ rental_user.last_name }} ({{ rental_user.username }})</p>
      </div>
      {% endif %}
      {% for field in form %}
      {% if field.field.widget.input_type == "checkbox" %}
      <div class="form-check">
      {% else %}
      <div class="form-group">
        {% endif %}
        {% if field.field.widget.input_type == "checkbox" %}
        {{ field }}
        <label class="control-label form-check-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {% else %}
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}
        {% endif %}
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      <div class="form-group btn-group">
        <button class="btn btn-primary" id="submit-btn" type="submit">Rent</button>
        {% if show_save %}
        <button class="btn btn-secondary" id="save-btn" type="button">Save</button>
        {% endif %}
      </div>
      {% if show_cost %}
      <div class="form-group">
        <label class="control-label" for="id_total_cost">Total cost:</label>
        <p class="form-control-static" id="id_total_cost"></p>
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% if show_save %}
<div id="save-target" class="hidden" hidden>
  {% url 'rentals:save_rental_request' request_id %}
</div>
{% endif %}
{% endblock %}
