{% extends "bubbles/base.html" %}
{% load static %}

{% block extra_head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <form action="{{ url }}" method="post">
      {% csrf_token %}
      {% for field in form %}
      {% if field.field.widget.input_type == "checkbox" %}
      <div class="form-check">
      {% else %}
      <div class="form-group">
      {% endif %}
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
        <label {% if field.field.widget.input_type == "checkbox" %}class="form-check-label" {% endif %}for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}
      </div>
      {% endfor %}
      <div class="form-group">
        <button class="btn btn-primary" id="submit-btn" type="submit">Submit</button>
      </div>
    </form>
    {% if show_cost %}
    <div id="total-cost">
      Total cost:
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
