.form-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-heading {
  margin-top: 20px;
}

.admin-app-table-name {
  width: 50%;
}

.admin-app-table-btn {
  width: 25%;
}

.h2-glyphicon {
  top: 4px;
}
